/* UNIVERSAL */

* {
 font-family: 'Open Sans', sans-serif;
 font-weight: 300;
 color: #EFF2FA !important;
}

b {
  font-weight: 700;
}

body {
  background-color: #0a192f;
  opacity: 1;
  background: radial-gradient(circle, transparent 20%, #0a192f 20%, #0a192f 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #0a192f 20%, #0a192f 80%, transparent 80%, transparent) 35px 35px, linear-gradient(#172a46 2.8000000000000003px, transparent 2.8000000000000003px) 0 -1.4000000000000001px, linear-gradient(90deg, #172a46 2.8000000000000003px, #0a192f 2.8000000000000003px) -1.4000000000000001px 0;
  background-size: 70px 70px, 70px 70px, 35px 35px, 35px 35px;
}

h1, h2, h3, h4, h5, h6, .title {
 font-family: 'Archivo', sans-serif;
 font-weight: 700;
}

.light-title {
  font-family: 'Archivo', sans-serif;
  font-weight: 300;
}

p.subtitle {
  line-height: 1.75em;
}

.container-fluid {
  padding: 0;
}

.btn-lime-container {
  padding-top: 15px;
}

.nav-link.btn {
  margin-left: 10px;
  font-size: 12px;
}

.btnLime {
  background-color: #64FCDA;
  color: #172A46 !important;
  font-weight: 700;
  cursor: pointer;
}

.btnLime:hover {
  background-color: #05F0BD;
}

.btnLime:active {
  background-color: #04B48E;
}

.btnLimeOutline {
  background: transparent;
  color: #64FCDA !important;
  font-weight: 700;
  cursor: pointer;
}

.btnLimeOutline:hover {
  background-color: #64FCDA;
  color: #0A192F !important;
}

.btnLimeOutline:active {
  background-color: #04B48E;
}

/* DESKTOP ONLY */

@media (min-width: 992px) { 

  

}

/* END */

/* PHONE ONLY */

@media (max-width: 575px) { 


  
}