/* UNIVERSAL */

* {
 font-family: 'Open Sans', sans-serif;
 font-weight: 300;
 color: #EFF2FA !important;
}

b {
  font-weight: 700;
}

body {
  background-color: #0a192f;
}

h1, h2, h3, h4, h5, h6, .title, .price-card-feature-list>li {
 font-family: 'Archivo', sans-serif;
 font-weight: 700;
}

.light-title {
  font-family: 'Archivo', sans-serif;
  font-weight: 300;
}

.subtitle {
  line-height: 1.75em;
}

.small-title {
  font-size: small;
}

.accent-title {
  color: #64FCDA !important;
}

.container-fluid {
  padding: 0;
}

.btn-lime-container {
  padding-top: 15px;
}

.nav-link.btn {
  margin-left: 10px;
  font-size: 12px;
}

ul.dropdown-menu {
  background-color: #087E8B;
}

.btnLime {
  background-color: #64FCDA;
  color: #172A46 !important;
  font-weight: 700;
  cursor: pointer;
}

.btnLime:hover {
  background-color: #05F0BD;
}

.btnLime:active {
  background-color: #04B48E;
}

.btnLimeOutline {
  background: transparent;
  color: #64FCDA !important;
  font-weight: 700;
  cursor: pointer;
}

.btnLimeOutline:hover {
  background-color: #05F0BD;
  color: #0A192F !important;
}

.btnLimeOutline:active {
  background-color: #04B48E;
}

.search-bar {
    padding: 1.5vh;
    margin: 0;
    margin-right: 10px;
    border: 1px solid #087E8B;
    border-radius: 10px;
    transition: .2s all ease-in-out;
}

.search-bar:focus {
  /* border: 3px solid #087E8B; */
  border-radius: 15px;
}

.search-bar-dark {
  background-color: #172A46;
}

.search-bar-dark:active {
  background-color: #172A46;
}

.footer-container {
  padding: 2vh;
  text-align: center;
  background-color: #0A192F;
  display: flex;
}

/* DESKTOP ONLY */

@media (min-width: 992px) { 

  

}

/* END */

/* PHONE ONLY */

@media (max-width: 575px) { 


  
}